.projects-page {
  overflow-y: auto;
}

.projects-header-nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: #ffffff;
  border-bottom: 1px solid #afafaf;
  border-radius: 12px 0px 0px 0px;
  z-index: 100;
}

.new-project-btn-wrapper button {
  border: none;
  border-radius: 4px;
  padding: 3px 20px;
  background-color: #2196f3;
  color: white;
  transition: background-color 0.2s;
}

.new-project-btn-wrapper button:hover {
  background-color: #1a8deb;
}

.projects-section {
  padding-top: 50px;
}

.projects-container {
  margin-top: 30px;
}
